# Created by venv; see https://docs.python.org/3/library/venv.html
.\

# Ignore everything
*

# But not these files...
!.gitignore
!codice/
!codice/**

# Even if they are in subdirectories
!*/

# Explicitly ignore virtual environment directories
Lib/
Include/
Scripts/
pyvenv.cfg
.env/
venv/
__pycache__/
*.pyc
